.homePageBody {
  background-color: black;
}
a {
  target: "_blank";
}                                        /* Header */
.headerContainer {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-end;
}
.headChild {
  flex-grow: 1;
  flex-basis: 0;
}
.head {
  font-size: 6em;
  color: #2B4865;
  margin: 0 auto;
  text-align: center;
}
.duratuffQuote {
  display: flex;
  justify-content: center;
  color: white;
}
.linkbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.quote {
  color: #61481C;
  text-align: center;
  text-decoration: none;
}
.nav div{
  height: 4px;
  /* background-color: white; */
  margin: 5px 0;
  border-radius: 25px;
  transition: 0.3s;
}
.nav {
  width: 30px;
  display: block;
  margin: 1em 0 0 1em;
}
.one {
  width: 30px;
}
.two {
  width: 20px;
}
.three {
  width: 25px;
}
.nav:hover div{
  width: 30px;
}
                                       /* Body */
.duratuffLogoContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.duratuffLogo {
  max-width: 100%;
  height: auto;
  clip-path: inset(1px);
}

.body-section-one{
  background-color: white;
  color: #2B4865;
}
.bodyText {
  color: #2B4865;
  text-align: center;
  font-size: 3em;
}
.portfolioRow {
  display: flex;
  flex-wrap: wrap;
}
/* .portfolioColumn {
  width: 33.33%
} */
.portfolioImage {
  border-radius: 2rem;
  max-width: 95%;
  height: auto;
}

                                     /* Footer */
.foot {
  color: #2B4865;
  text-align: center;
}
.socialMediaContainer {
  display: flex;
  justify-content: center;
}

.icon {
  padding: 5px;
  text-align: center;
  width: 50px;
}
